.joke{
display: block;
text-align: center;
justify-content: center;
background-color: cornflowerblue;
padding: 10px;
margin: 30px 50px;
height: auto;
width: auto;
}
.joke h2{
    color:whitesmoke;
}

form{
  
   width: max-content;
   height: max-content;
   padding: 15px;
   text-align: center;
   display: inline;
   justify-content: center;

}
form input{
    padding: 12px;
    margin: 5px;
    border-radius: 7px;
    border-color: rgb(163, 153, 153);
    border-width: 3px;
}

form button{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border-color: darkgrey;
    font-variant: small-caps;
    border-width: 4px;
}

