.App {
 
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: max-content;
  height: min-content;
  border-color: beige;
  background-color: brown;
  margin: auto;
  
}

.subApp{
  background-color: antiquewhite;
  border-radius: 10px;
 border-color: cadetblue;
}
